.ava
	&__image
		img
			max-width: 96px
			width: 100%
			height: auto

	&-img
		flex-shrink: 0
		border-radius: 48px
		overflow: hidden
		img
			max-width: 48px
			width: 100%
			height: auto
        

.tutor-ava-name
	display: flex
	align-items: center
	gap: 0.5rem
