input, button, select, optgroup, textarea, label, .alert, .badge, .blockquote-footer, .btn, .tl-data-table .paging_full_numbers .page-link, .tl-data-table .paging_first_last_numbers .page-link, .tl-data-table .paging_full .page-link, .tl-data-table .paging_numbers .page-link, .tl-data-table .paging_simple_numbers .page-link, [data-list] .page, .table-list .page, .tox .tox-menu__footer .tox-button:last-child, .tox .tox-dialog__footer .tox-button:last-child, .tox .tox-menu__footer .tox-button--secondary, .tox .tox-dialog__footer .tox-button--secondary, .navbar, .pagination, .valid-feedback, .invalid-feedback
    font-family: 'Montserrat', sans-serif

.card
    color: $colorgray

.form-label
    margin-bottom: 0.5rem
    font-size: 0.8125rem
    font-weight: 500
    color: $colorgray