// Grid
$min_lg: 1200px
$width_lg: 1199px
$min_md: 1024px
$width_md: 1023px
$min_xs: 768px
$width_xs: 767px
$width_mob: 500px

$blue:		#1F4C8F
$blueDark:	#0E2A5A
$blueLight:	#5EA8FF
$accent:	#2E78C7
$blueGray:  #dfeaf8
$blueGrayLight:#f2f7fd

$orange:	#ff4e00
$purple:    #7A00B3
$green:     #00b37A

$primary:   #0E2A5A
$colorbg:   #edf2f9
$colortext: #212121
$grayLight: #AFB7C1
$colorgray: #5e6e82
$grayDark:  #4b5868


$max-nav-width: 12.875rem
$min-nav-width: 2.25rem